.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 235, 235);
    border-radius: 25px;
}

.header__logo
{
    object-fit: contain;
    height: 40px;
}

.header__icon
{
    padding: 5px;
}